# gcloud AppEngine files
.gcloudignore
app.yaml

# Git files
.git
.gitignore
Dockerfile

# Node.js dependencies:
node_modules/

# Intellij files
.idea/
*.iml

# Frontend source files - they are compiled into build
public/
src/

# Miscellaneous files
LICENSE
README.md
